In [1]:
import pandas as pd

In [2]:
message_replies = pd.read_csv('/Users/scottsmacbook/capstone/00_Data/data_data_message_reply_pairs_cleaned.csv')

In [6]:
list(message_replies.thread.unique())[4]

36

In [7]:
message_replies[message_replies.thread==36]

,Unnamed: 0,time,subject,thread,sender,recipient,message,reply_time,reply_sender,reply_recipient,reply_message
70,75,2000-10-26 04:09:00-07:00,(No Subject),36,18258,[13140],"Hi Mark, I'm really sorry to have heard about ...",2000-11-05 23:22:00-08:00,13140,[18258],Dude thanks for the words. I appreciate. It ha...

In [16]:
m_r = message_replies[['message','reply_message']]
m_r.rename(columns = {'message':'input_data','reply_message':'output_data'},inplace=True)

/var/folders/p4/82nd8dg50fq_lzgh5s75s36h0000gn/T/ipykernel_11398/21801756.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  m_r.rename(columns = {'message':'input_data','reply_message':'output_data'},inplace=True)

,input_data,output_data
0,How about this Friday ? Julie has not left yet...,when? how are you and your family? is julie go...
1,when? how are you and your family? is julie go...,Today is bad. Tommorrow I will call you.
2,when? how are you and your family? is julie go...,Do you have lunch plans today?
3,when? how are you and your family? is julie go...,Really? I'd feel like a mooch. Lets have lunch...
4,when? how are you and your family? is julie go...,Tues.is good. I'll call you.
...,...,...
24635,"John, Please review the list below and let me ...",Stephane Brodeur should be removed from the li...
24636,Stephane Brodeur should be removed from the li...,Thank you. Please let me know about Chris Lamb...
24637,that was our plan but I am not sure whether UB...,"John, I understand Peter Keohane is here today..."
24638,Peggy & John The estate's DPR reporting requir...,ok
24639,"Further to our meeting today, please find atta...",according to the packet that was distributed ...

In [21]:
m_r = m_r.reset_index(drop=True)

In [40]:
prompt = "Respond to the following email in a professional corporate manner:"
m_r["input_data"] = m_r["input_data"].apply(lambda x: prompt + str(x))

In [41]:
m_r

,input_data,output_data
0,Respond to the following email in a profession...,when? how are you and your family? is julie go...
1,Respond to the following email in a profession...,Today is bad. Tommorrow I will call you.
2,Respond to the following email in a profession...,Do you have lunch plans today?
3,Respond to the following email in a profession...,Really? I'd feel like a mooch. Lets have lunch...
4,Respond to the following email in a profession...,Tues.is good. I'll call you.
...,...,...
24635,Respond to the following email in a profession...,Stephane Brodeur should be removed from the li...
24636,Respond to the following email in a profession...,Thank you. Please let me know about Chris Lamb...
24637,Respond to the following email in a profession...,"John, I understand Peter Keohane is here today..."
24638,Respond to the following email in a profession...,ok
24639,Respond to the following email in a profession...,according to the packet that was distributed ...

In [42]:
m_r.to_csv("/Users/scottsmacbook/capstone/00_Data/just_message_reply.csv")

In [43]:
type(list(m_r.input_data)[0])

str

In [44]:
import csv
import json

csv_file_path = "/Users/scottsmacbook/capstone/00_Data/just_message_reply.csv"
jsonl_file_path = "/Users/scottsmacbook/capstone/00_Data/just_message_reply.jsonl"

updated_jsonl_file_path = "/Users/scottsmacbook/capstone/00_Data/just_message_reply_new.jsonl"

# Open CSV file for reading and JSONL file for writing
with open(csv_file_path, 'r') as csv_file, open(jsonl_file_path, 'w') as jsonl_file:
    # Parse CSV file as a dictionary
    csv_reader = csv.DictReader(csv_file)
    # Loop through each row in the CSV file
    for row in csv_reader:
        # Convert the row to a JSON string
        json_string = json.dumps(row)
        # Write the JSON string to the JSONL file, followed by a newline character
        jsonl_file.write(json_string + '\n')

In [45]:
# loop through each line in the input JSONL file
with open(jsonl_file_path, 'r') as jsonl_file, \
     open(updated_jsonl_file_path, 'w') as updated_jsonl_file:
    for line in jsonl_file:
        # parse the line as a JSON object
        data = json.loads(line)

        # remove the empty key from the dictionary
        data.pop('', None)

        # write the updated dictionary as a new line in the output JSONL file
        updated_jsonl_file.write(json.dumps(data) + "\n")