----
### **Adding Prompt**

In [1]:
#pip install pandarallel
import multiprocessing

num_processors = multiprocessing.cpu_count()
print(f'Available CPUs: {num_processors}')

import pandarallel
from pandarallel import pandarallel
pandarallel.initialize(nb_workers=num_processors-1, use_memory_fs=False)

Available CPUs: 8
INFO: Pandarallel will run on 7 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [2]:
import pandas as pd

In [20]:
df_messages=pd.read_csv('/Users/kshitijmittal/Documents/UChicago Acad/Hedwig_AI/Hedwig/00_Data/data_message_reply_pairs_cleaned.csv')
df_messages.head(3)

,Unnamed: 0,time,subject,thread,sender,recipient,message,reply_time,reply_sender,reply_recipient,reply_message
0,0,1999-06-09 04:18:00-07:00,RE: test,2,5552,[40034],How about this Friday ? Julie has not left yet...,1999-06-09 08:06:00-07:00,40034,[5552],when? how are you and your family? is julie go...
1,1,1999-06-09 08:06:00-07:00,RE: test,2,40034,[5552],when? how are you and your family? is julie go...,1999-06-10 03:54:00-07:00,5552,[40034],Today is bad. Tommorrow I will call you.
2,2,1999-06-09 08:06:00-07:00,RE: test,2,40034,[5552],when? how are you and your family? is julie go...,1999-11-23 01:38:00-08:00,5552,[40034],Do you have lunch plans today?

In [21]:
df_messages['time']=pd.to_datetime(df_messages['time'], utc=True)
# df_messages=df_messages.sort_values(by='time')

In [22]:
df_messages.sample(5)

,Unnamed: 0,time,subject,thread,sender,recipient,message,reply_time,reply_sender,reply_recipient,reply_message
22948,25444,2001-03-01 16:20:00+00:00,Re: Need Contact Info...,123759,13209,[1497],Dennis's phone number is (602) 728 3156.,2001-03-01 08:36:00-08:00,1497,[13209],"Hi Kate, Can you please give me a contact info..."
18492,20753,2002-04-30 14:33:55+00:00,Re: man night again?,94898,36220,"[36205, 36165, 36167, 36184, 36169, 36224, 173...","In, out, in, out, in, slow down, something is...",2002-05-02 09:44:31-07:00,36167,"[36184, 17321, 36171, 36189, 36205, 36165, 362...",I'm out. Going to try to make a buck. e.
1843,1862,2001-11-26 14:43:02+00:00,RE:,208,32599,[1660],I came back the 5th of this month because of w...,2001-11-26 06:54:59-08:00,1660,[32599],good idea coming back. It is a zoo around here...
6311,7128,2001-04-13 14:46:00+00:00,RE: Netscape,20436,10099,"[10067, 10095]",Thanks Mark! Jimmy,2001-04-13 16:22:00-07:00,10095,"[151, 10099]",Ok guys I've taken a stab at #5. I valued the ...
12874,14303,2000-06-21 17:08:00+00:00,Wednesdsay,58344,22270,[1721],"If you don't have dinner plans, would you like...",2000-06-21 10:09:00-07:00,1721,[22270],I have to move some final things out of my old...